body{
    background-color:pink
}
.profile3-name{
    margin: 0;
    color: red
}
.profile3-image{
    float: right;
    margin: 1rem;
    width: 10%;
    color: red;
}
.profile3-info{
    float: left;
    color: red
        
}
.role{
    margin: 0;
    color: red;
}
.location{
    margin: 0.5rem 0rem 1rem 0rem;
    color: red;
    background-color: black
}
.section{
    clear: both;
    color: red;
    background-color: brown
}
.about{
    width: 50%;
    clear: left;
    float: left;
    padding-right: 2rem;
    border-right: 1px solid grey;
    color: red;
}
.skills{
    width: 20%;
    float: left;
    padding-left: 2rem;
    color: red;
}