
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); 
h1{
    color: green;
    text-align: center
}
#heading{
    color: aqua
}
.heading{
    color: red
}

@font-face 
    font-family:"Roboto slab";
    scr:url("font/RobotoSlab-VariableFont_wght.ttf")

}
*/
.Box {
    font-family:"Roboto Slab",Arial,Helvetica;
    font-size: 34px;
    font-weight: bold;
    color: green;
    background-color: aquamarine;
    border-color: red;
    border-style:solid;
    border-radius:15px;
    border-width:12px;
    width: 200px;
    padding: 20px 49px 12px 89px;
    margin: auto;
    margin-top: 79px;
    text-align: center;
    padding: 12%;`
    height:5%;
    width: 18%;
    margin: 50%;
    margin-top: 20px;
        

}
body{
    background-color: RGB(127,255,203)



.nav {
    background-color: blue;
    color: aqua        
}
.logo {
    color: bisque
}
.nav-item{
    font-size: 1.25rem;
    font-weight: bold;
    color:red;
}
.heading {
    color:red;
}
.abc {
    color: deeppink
}

